---
layout: layouts/base.njk
pagination:
  data: collections.blog
  size: 1
  alias: post
permalink: "blog/{{ post.data.slug }}/"
---
<div class="page-wrapper" id="page-wrapper">
  <div class="container">
    <div class="blog-post-grid">
      <article class="blog-post-content fade-in">
        <a href="/" class="back-button">← Back</a>
        <h1 class="blog-post-title">{{ post.data.title }}</h1>
        <div class="blog-post-body">
          {{ post.content | safe }}
        </div>
      </article>

      <aside class="blog-post-sidebar fade-in">
        <div class="sidebar-header">
          <h2 class="sidebar-title">Other Writing</h2>
          <a href="/blog" class="see-all-link">See All →</a>
        </div>
        <ul class="writing-list">
          {%- for otherPost in collections.blog %}
            {%- if otherPost.data.slug != post.data.slug %}
            <li>
              <a href="/blog/{{ otherPost.data.slug }}">{{ otherPost.data.title }}</a>
              <div class="source">{{ otherPost.data.excerpt }}</div>
            </li>
            {%- endif %}
          {%- endfor %}
        </ul>
      </aside>
    </div>
  </div>
</div>

