---
layout: layouts/base.njk
pagination:
  data: blog
  size: 1
  alias: post
permalink: "blog/{{ post.slug }}/"
---
<div class="page-wrapper" id="page-wrapper">
  <div class="container">
    <div class="blog-post-grid">
      <article class="blog-post-content fade-in">
        <a href="/" class="back-button">← Back</a>
        <h1 class="blog-post-title">{{ post.title }}</h1>
        <div class="blog-post-date">{{ post.date }}</div>
        <div class="blog-post-body">
          {% set paragraphs = post.content.split('\n\n') %}
          {% for paragraph in paragraphs %}
            <p>{{ paragraph | replace('\n', '<br>') | safe }}</p>
          {% endfor %}
        </div>
      </article>

      <aside class="blog-post-sidebar fade-in">
        <div class="sidebar-header">
          <h2 class="sidebar-title">Other Writing</h2>
          <a href="/blog" class="see-all-link">See All →</a>
        </div>
        <ul class="sidebar-posts-list">
          {%- for otherPost in blog %}
            {%- if otherPost.slug != post.slug %}
            <li>
              <a href="/blog/{{ otherPost.slug }}">
                <h3 class="sidebar-post-title">{{ otherPost.title }}</h3>
                <div class="sidebar-post-date">{{ otherPost.date }}</div>
              </a>
            </li>
            {%- endif %}
          {%- endfor %}
        </ul>
      </aside>
    </div>
  </div>
</div>

