---
layout: layouts/base.njk
title: Blog
---
<div class="page-wrapper" id="page-wrapper">
  <div class="container">
    <h1 class="page-title fade-in">Blog</h1>
    
    <div class="blog-list fade-in">
      {%- for post in collections.blog %}
      <article class="blog-list-item">
        <a href="/blog/{{ post.data.slug }}">
          <h2 class="blog-list-title">{{ post.data.title }}</h2>
          <p class="blog-list-excerpt">{{ post.data.excerpt }}</p>
        </a>
      </article>
      {%- endfor %}
    </div>
  </div>
</div>

